table
    thead
        tr 
            th Path
            th Visits
    tbody 
        each visit in visits
            tr
                td(class="note-title")= visit.path
                td(class="note-body")= visit.count
    div(class="body")
block body