
block content
  div(class="container expand")
    div(class="list expand") 
    table  
     tr
        th Path
        th Visits            
     tbody     
      each visit in visits               
          tr 
            td(class="note-title")= visit.path
            td(class="note-title")= visit.count          
      block body

      
// div(class="note")          
          tr 
            td(class="note-title")= visit.path
            td(class="note-title")= visit.count         
    div(class="body")